.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.itemResumo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 100px;
    border: 1px solid transparent;
    border-radius: 16px;
    color: #FFF;
    text-align: center;
    position: relative;
}

.tituloResumo {
    position: absolute;
    top: 10px;
    left: 10px;
    font-weight: 600;
}

.totalEntradas {
    background-color: #27d627;
}

.totalSaidas {
    background-color: #d62727;
}

.saldo {
    background-color: #FFF;
    color: #000;
    border-color: #000;
}