.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
}

.botaoAbreFormulario {
    width: 300px;
    height: 40px;
    border: 2px dashed #000;
    background-color: transparent;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
    transition: .3s;
}

.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 100%;
    max-width: 600px;
    padding: 2rem 1rem;
    border: 2px dashed #000;
    border-radius: 8px;
}

.containerInputFormulario {
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .7rem;
    font-size: .9rem;
    color: #4d4c4c;
}

.inputDescricao {
    width: 100%;
    padding: .7rem 1rem;
}

.inputValor {
    padding: .7rem 1rem;
    text-align: center;
    -moz-appearance: textfield;
}

.inputValor::-webkit-outer-spin-button,
.inputValor::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.inputDescricao, .inputValor {
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    transition: 0.3s;
}

.inputDescricao:focus, .inputValor:focus {
    border-color: #8ac926;
    box-shadow: 0 0 5px rgba(138, 201, 38, 0.3);
}

.containerBotoesFormulario {
    display: flex;
    gap: 2rem;
}

.btnTipo {
    width: 100%;
    max-width: 300px;
    height: 40px;
    border: 1px solid transparent;
    border-radius: 8px;
    color: #FFF;
    background-color: #adadad;
    font-weight: 600;
    cursor: pointer;
}

.btnFormulario {
    width: 120px;
    height: 40px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #FFF;
    font-weight: 600;
    cursor: pointer;
    transition: .4s;
}

.btnFormulario:hover {
    transform: scale(110%);
    border-radius: 8px;
}

.btnSaida.ativo,
.btnCancelar {
    background-color: #ff595e;
}

.btnEntrada.ativo,
.btnAdicionar {
    background-color: #8ac926;
}